.DS_store

# data
psl-datasets/movielens/data/movielens
psl-datasets/movielens/data/ml-1m
psl-datasets/movielens/data/ml-1m_gender_flipping
psl-datasets/movielens/data/ml-1m_gaussian_noise
psl-datasets/movielens/data/ml-1m_poisson_noise

# Intellij meta data
.idea

# Python and Jupyter Files
*_pycache_*
.ipynb_checkpoints

# Results
results
results_low_relaxation_param
learn_out.err
learn_out.txt

# PSL resources
*.jar
!psl_resources/psl-cli-2.3.0-SNAPSHOT.jar

